<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">
      <div class="ibox-tools">
        <span class="btn btn-<%= @filter.except(:order_by).empty? ? "secondary" : "warning" %> btn-xs btn-w-m"
          data-toggle="collapse" data-target="#filter">
          <i class="fa fa-filter"></i> Filter
          <span class="caret"></span>
        </span>
      </div>
    </div>
    <div class="ibox-content">
      <div class="row d-print-none">
        <div class="col">
          <div id="filter" class="collapse">
            <div class="card">
              <div class="card-body">
              <%= form_tag alarms_path, method: :get, class: "filter" do |f| %>
                <%= hidden_field_tag :order_by, @filter[:order_by] %>
                <div class="row">
                  <div class="col-sm">
                    <div class="form-group">
                      <%= label_tag :with_device_id, 'Find alarms for devices whose ids contain...', :class => 'control-label' %>
                      <%= text_field_tag :with_device_id, @filter[:with_device_id], :class => 'form-control' %>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="form-group">
                      <%= label_tag :with_status, 'Find alarms with status...', :class => 'control-label' %>
                      <%= select_tag :with_status,
                            options_for_select(Alarm.selectable_statuses, @filter[:with_status]),
                            { prompt: "Please select a status...", class: 'form-control' } %>
                    </div>
                    <div class="form-group">
                      <%= label_tag :with_alarm_type, 'Find alarms with status...', :class => 'control-label' %>
                      <%= select_tag :with_alarm_type,
                            options_for_select(Alarm.selectable_alarm_types, @filter[:with_alarm_type]),
                            { prompt: "Please select an alarm type...", class: 'form-control' } %>
                    </div>
                    <div class="form-group">
                      <%= label_tag :with_level, 'Find alarms with level...', :class => 'control-label' %>
                      <%= select_tag :with_level,
                            options_for_select(Alarm.selectable_levels, @filter[:with_level]),
                            { prompt: "Please select a level...", class: 'form-control' } %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group float-right">
                      <%= link_to alarms_clear_filter_path, :class => 'btn btn-light btn-xs' do %>
                        <i class="fa fa-times"></i> Clear filter
                      <% end %>
                      <%= button_tag(type: "submit", class: "btn btn-primary btn-xs") do %>
                        <i class="fa fa-filter"></i> Apply filter
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive mt-3 d-none d-sm-block">
        <table class="table table-striped vertical-align-middle">
          <thead>
            <tr>
              <th><%= sortable 'devices.device_id', @filter, alarms_path, 'Device ID' %></th>
              <th><%= sortable 'alarm_type', @filter, alarms_path, 'Alarm type' %></th>
              <th><%= sortable 'level', @filter, alarms_path, 'Level' %></th>
              <th><%= sortable 'status', @filter, alarms_path, 'Status' %></th>
              <th><%= sortable 'created_at', @filter, alarms_path, 'Created' %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @alarms.each do |alarm| %>
            <tr>
              <td><%= alarm.device.device_id %></td>
              <td><%= alarm_type_label(alarm) %></td>
              <td><%= alarm_level_label(alarm) %></td>
              <td><%= alarm_status_label(alarm) %></td>
              <td><%= l(alarm.created_at, format: :long) %></td>
              <td class="text-right">
                <%= link_to alarm_path(alarm), class: "btn btn-primary btn-xs" do %>
                  <i class="fa fa-folder-open"></i> View
                <% end%>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <ul class="list-group list-group-striped d-block d-sm-none">
        <% @alarms.each do |alarm| %>
        <li class="list-group-item">
          <div class="float-right">
            <%= link_to alarm_path(alarm), :class => 'btn btn-primary btn-xs' do %>
              <i class="fa fa-folder-open"></i> View
            <% end %>
          </div>
          <strong><%= alarm.device.device_id %></strong><br/>
          <small>
            <%= l(alarm.created_at, format: :long) %><br>
            <%= alarm_type_label(alarm) %>
            <%= alarm_level_label(alarm) %>
            <%= alarm_status_label(alarm) %>
          </small>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="ibox-footer">
      <div class="row">
        <div class="col">
          <%= page_entries_info @alarms %>
        </div>
        <div class="col">
          <div class="d-flex align-items-center flex-row-reverse">
            <%= paginate @alarms %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>