<div class="wrapper wrapper-content animated fadeInRight">

  <div class="ibox ">
    <div class="ibox-title">
      <% if @user.id %>
        <div style="display: flex; align-items: center;">
          <%= show_avatar_xs(@user) %>
          <h3 style="" class="ml-3">
            <%= @user.full_name %>
          </h3>
        </div>
      <% else %>
        Please note that <span class="required-legend">indicates a required field</span>
      <% end %>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-md-6">

          <%= render partial: "layouts/errors", object: @user, as: 'form' %>

          <%= bootstrap_form_for(
                  @user,
                  layout: :horizontal,
                  inline_errors: false,
                  html: { class: 'mt-3' },
                  label_col: "col-sm-4",
                  control_col: "col-sm-8") do |f| %>

            <%= f.text_field :first_name, :label => 'First name' %>
            <%= f.text_field :last_name,  :label => 'Last name' %>
            <%= f.email_field :email,     :label => 'Email' %>

            <% if !@user.id? %>
              <%= f.password_field :password, :label => 'Password' %>
              <%= f.password_field :password_confirmation, :label => 'Confirm password' %>
            <% end %>

            <div class="mt-2 float-right">
              <%= button_tag(type: "submit", class: "btn btn-w-m btn-primary") do %>
                <i class="fa fa-check"></i> Save
              <% end %>
              <%= link_to @cancel_path, :class => 'btn btn-w-m btn-default' do %>
                <i class="fa fa-times"></i> Cancel
              <% end %>
            </div>

          <% end %>

        </div>
      </div>
    </div>

  </div>

</div>